{{- $name := promptStringOnce . "name" "[Git] Username" -}}
{{- $email := promptStringOnce . "email" "[Git] Email address" -}}
{{- $signingkey := promptStringOnce . "signingkey" "[Git] GnuPG signature key" -}}
{{- $private_git_repo := promptStringOnce . "private_git_repo" "[Git] Private git repository" -}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
signingkey = {{ $signingkey | quote }}
private_git_repo = {{ $private_git_repo | quote }}

