# This is Git's per-user configuration file.
[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ .signingkey }}
[core]
	filemode = true
	editor = vim
	excludesfile = ~/.gitignore
	;pager = bat
[alias]
	st = status
	ci = commit -s
	ca = commit --amend -s
	co = checkout
	br = branch
	df = diff
	pick = cherry-pick
	fp = format-patch
	la = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ll = log --graph --decorate --pretty=oneline --abbrev-commit
	lf = log --stat --decorate --format=fuller abbrev-commit
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	d = difftool
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	log = auto
[push]
	default = simple
[pull]
	rebase = true
[difftool]
	prompt = false
	# Be able to abort all diffs with `:cq` or `:cquit`
	trustExitCode = true
[diff]
	tool = vimdiff
[diff "sopsdiffer"]
	textconv = sops -d
[sequence]
	editor = interactive-rebase-tool
[merge]
	ff = no
[rebase]
	autosquash = true
[fetch]
	prune = true
[pager]
	branch = false
{{- if .private_git_repo }}
[url "git@{{ .private_git_repo }}:"]
	insteadOf = https://{{ .private_git_repo }}/
{{- end }}
[commit]
	gpgsign = true
