"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" dense-analysis/ale
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let b:ale_linters = {
\    'python': ['flake8'],
\}
let b:ale_fixers = {
\    'python': ['black', 'isort'],
\}
let b:ale_fix_on_save = 1


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Yggdroot/indentLine
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Use the same colors as SpecialKey highlight group
let g:indentLine_defaultGroup = 'SpecialKey'

" Change indent char
let g:indentLine_char = '|'


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" fatih/vim-go
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:go_fmt_command = "goimports"
{{- if .private_git_repo }}
let g:go_fmt_options = "-local={{ .private_git_repo }}"
{{- end }}
let g:go_def_mode='gopls'
let g:go_info_mode='gopls'
let g:go_autodetect_gopath = 1
let g:go_list_type = "quickfix"

let g:go_highlight_types = 1
let g:go_highlight_fields = 1
let g:go_highlight_functions = 1
let g:go_highlight_function_calls = 1
let g:go_highlight_extra_types = 1
let g:go_highlight_generate_tags = 1


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" preservim/nerdcommenter
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Create default mappings
let g:NERDCreateDefaultMappings = 1

" Add spaces after comment delimiters by default
let g:NERDSpaceDelims = 1

" Use compact syntax for prettified multi-line comments
let g:NERDCompactSexyComs = 1

" Align line-wise comment delimiters flush left instead of following code indentation
let g:NERDDefaultAlign = 'left'

" Allow commenting and inverting empty lines (useful when commenting a region)
let g:NERDCommentEmptyLines = 1

" Enable trimming of trailing whitespace when uncommenting
let g:NERDTrimTrailingWhitespace = 1

" Enable NERDCommenterToggle to check all selected lines is commented or not
let g:NERDToggleCheckAllLines = 1

" Map <C-/> to toggle comments in normal and visual mode
nmap <C-_> <Plug>NERDCommenterToggle
vmap <C-_> <Plug>NERDCommenterToggle<CR>gv


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" tomasiser/vim-code-dark
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" override special key group color (for lighter space and tab color)
highlight SpecialKey guifg='#4e4e4e' ctermfg=239

" override the color of the selected code (make difference with the highlighted result)
highlight Visual term=reverse cterm=reverse guibg=Grey


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" preservim/nerdtree
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <C-b> :NERDTreeToggle<CR>


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" vim-airline/vim-airline
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let ttimeoutlen=10
let g:airline_theme = 'codedark'
let g:airline_powerline_fonts=1


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" liuchengxu/vim-which-key
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" nnoremap <silent> <leader> :WhichKey '<Space>'<CR>
nnoremap <silent> <leader> :<c-u>WhichKey '<Space>'<CR>

" After pressing leader the guide buffer will pop up when there are no further keystrokes within timeoutlen.
set timeoutlen=500


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" junegunn/fzf
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Determines the size and position of fzf window
let g:fzf_layout = { 'down': '~40%' }

nmap <C-P> :FZF<CR>
nmap <C-P> :FZF<CR>

nmap <C-S-F> :Ag<CR>


"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" TODO: learn vim and kick the bad habits
" takac/vim-hardtime
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
let g:hardtime_default_on = 0
