{{- if .is_desktop_env -}}
[
  {
    "layer": "top",
    "position": "top",
    "height": 24,
    "spacing": 8,
    "modules-center": [
      "custom/notifications",
      "clock"
    ],
    "modules-right": [
      "backlight",
      "custom/mic",
      "wireplumber",
      "tray"
    ],
    "custom/notifications": {
      "format": "",
      "tooltip": false,
      "on-click": "makoctl dismiss --all"
    },
    "clock": {
      "interval": 1,
      "format": "{:%Y/%m/%d(%a) %H:%M:%S}",
      "tooltip-format": "{calendar}",
      "on-click": "gsimplecal"
    },
    "backlight": {
      "format": "🔅 {percent}%",
      "on-scroll-up": "brightnessctl -q set +3%",
      "on-scroll-down": "brightnessctl --min-val=2 -q set 3%-"
    },
    "wireplumber": {
      "format": "{icon} {volume}%",
      "format-muted": "ﱝ muted",
      "format-icons": ["奄", "奔", ""],
      "on-click": "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle",
      "on-click-right": "pavucontrol",
      "on-scroll-up": "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+",
      "on-scroll-down": "wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%-"
    },
    "custom/mic": {
      "exec": "wpctl get-volume @DEFAULT_AUDIO_SOURCE@ | awk '/MUTED/{print \" muted\"; exit} {printf \" %d%%\\n\", $2*100}'",
      "interval": 2,
      "on-click": "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle",
      "on-click-right": "pavucontrol",
      "on-scroll-up": "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%+",
      "on-scroll-down": "wpctl set-volume @DEFAULT_AUDIO_SOURCE@ 5%-"
    },
    "tray": {
      "spacing": 10
    }
  },
  {
    "layer": "top",
    "position": "bottom",
    "height": 18,
    "spacing": 8,
    "modules-left": [
      "sway/workspaces",
      "sway/mode"
    ],
    "modules-right": [
      "cpu",
      "memory",
      "network",
      "custom/power"
    ],
    "sway/workspaces": {
      "disable-scroll": false,
      "all-outputs": false,
      "format": "{name}"
    },
    "sway/mode": {
      "format": "{}"
    },
    "cpu": {
      "interval": 5,
      "format": "<span foreground='#f0c674'></span> {usage}%"
    },
    "memory": {
      "interval": 5,
      "format": "<span foreground='#f0c674'></span> {percentage}%"
    },
    "network": {
      "interval": 5,
      "format-wifi": "<span foreground='#f0c674'></span> {ipaddr}",
      "format-ethernet": " {ipaddr}",
      "format-disconnected": "睊",
      "tooltip-format": "{ifname}: {ipaddr}/{cidr}"
    },
    "custom/power": {
      "format": "",
      "tooltip": false,
      "on-click": "~/.config/waybar/powermenu.sh"
    }
  }
]
{{- end }}
