{{ $sudo := "sudo" -}}
{{ if eq .chezmoi.username "root" -}}
{{   $sudo = "" -}}
{{ end -}}

#!/usr/bin/env bash

# Exit on an Error or if an Unset variable is referenced.
set -eu

# When used in combination with set -e, pipefail will make a script exit if any command in a pipeline errors.
set -o pipefail

# Print a trace of simple commands and their arguments after they are expanded and before they are executed.
set -x

{{ $sudo }} apt-get update
{{ $sudo }} apt-get install -yq \
    autojump \
    curl \
    git \
    htop \
    jq \
    lsb-release \
    make \
    mycli \
    ripgrep \
    silversearcher-ag \
    sudo \
    tig \
    thefuck \
    vim-gtk \
    wget \
    xclip \
    zsh
