{{- if .is_desktop_env -}}

#!/usr/bin/env bash

# Terminate already running bar instances
# If all your bars have ipc enabled, you can use
polybar-msg cmd quit
# Otherwise you can use the nuclear option:
# killall -q polybar

# Launch top bar and bottom bar on multiple monitors
for m in $(xrandr --query | grep " connected" | cut -d" " -f1); do
    echo "---" | tee -a /tmp/polybar_top_monitor_"$m".log /tmp/polybar_bottom_monitor_"$m".log
    MONITOR=$m polybar top 2>&1 | tee -a /tmp/polybar_top_monitor_"$m".log & disown
    MONITOR=$m polybar bottom 2>&1 | tee -a /tmp/polybar_bottom_monitor_"$m".log & disown
    echo "Bars launched..."
done

{{- end }}
